<wrapper class="footer">
  <spacer size="40"></spacer>

  <row>
    <columns>
      <p>
        <b>Semrush.com</b> reports and tools are used by the world’s smartest site owners and
        online-marketers. Semrush Inc., USA, 800 Boylston Street, Suite 2475, Boston, MA 02199
      </p>
      <spacer size="16"></spacer>
    </columns>
  </row>

  <row>
    <columns>
      <a href="https://www.semrush.com/company/legal/privacy-policy/" target="_blank"
        >Privacy policy</a
      >
      | <a href="#">View in Browser</a> |
      <a href="#" target="_blank">Unsubscribe</a>
      <spacer size="16"></spacer>
    </columns>
  </row>

  <row>
    <columns>
      <p>Copyright © Semrush, All rights reserved.</p>
    </columns>
  </row>

  <spacer size="40"></spacer>
</wrapper>
